<h1>Edit Account Details</h1>
 
 <%= form_with(model: @user, local: true) do |form| %>
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %><br>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </p>
 
  <p>
    <%= form.label :basal_insulin %><br>
    <%= form.text_area :basal_insulin %><br>
    <%= form.label :bolus_insulin %><br>
    <%= form.text_area :bolus_insulin %> 
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', users_path %>
