<h1>Edit Account Details</h1>
 
<%= form_with(model: @user, local: true) do |form| %>
 
 
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %><br>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </p>
 
  <p>
    <%= form.label :pump_or_mdi %><br>
    <%= form.text_area :pump_or_mdi %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', users_path %>