
<h1>New User?</h1>
<strong>Click the link below to start your path to better insights.</strong><br>
<%= link_to 'New User', new_user_path %><br>
<%= link_to 'Back to the Welcome Page', welcome_index_path %>
&nbsp;
<table>
  <tr>
    <th>Name</th>
    <th>Delivery Methods</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.basal_insulin %></td>
      <td><%= user.bolus_insulin %></td>
    </tr>
  <% end %>
</table>


<h3>Here are your highlights of the week<h4>