<h1>New Account</h1>


<%= form_with scope: :users, url: users_path, local: true do |form| %>
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %><br>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </p>
 
  <p>
    <%= form.label :pump_or_mdi %><br>
    <%= form.text_area :pump_or_mdi %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Your Dexcom Data', "https://sandox-api.dexcom.com/v2/oauth2/login?client_id=Z1EZfUJo2AcPFbm9ex58CC3gvM46UQEt&redirect_uri=https://www.gigitracker.com/users/new/&response_type=code&scope=offline_access&state={your_state_value}" %>
<%= link_to 'Back', users_path %>