<h1>New Account</h1>
<strong>Here you will enter your basic information that the app needs for baseline tracking.</strong>

<p>The app is designed to be user friendly with minimal interaction. It analyzes your blood sugar trends over time and looks for patterns. <br>
These can be the default patterns or ones set by you. Once the app sees a pattern it starts to look at your sleep and health data. <br>
These are then the insights that are provided to you. If you have good or bad blood sugars, what other than the obvious could be helping you? </p>

<%= form_with scope: :users, url: users_path, local: true do |form| %>
 
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %><br>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </p>
 
  <p>
    <%= form.label :pump_or_mdi %><br>
    <%= form.text_area :pump_or_mdi %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Click Here to Sync Your Dexcom Data', "https://sandox-api.dexcom.com/v2/oauth2/login?client_id=Z1EZfUJo2AcPFbm9ex58CC3gvM46UQEt&redirect_uri=https://www.gigitracker.com/users/new/&response_type=code&scope=offline_access&state={your_state_value}" %>
<%= link_to 'Back to The Dashboard', users_path %>