<p>
    <strong>Name:</strong>
    <%= @user.first_name %>
    <%= @user.last_name %>
</p>

<p>
    <strong>Liquid Gold:</strong>
    <%= @user.basal_insulin%>
    <%= @user.bolus_insulin%>
</p>
<p>
    <strong>Recent Records</strong>
</p>

<%= link_to 'Back', welcome_index_path %>
<br>
<%= link_to 'Add a Bolus Dose', new_user_bolus_dose_path(@user) %>
<br>
<%= link_to 'Add a Basal Dose', new_user_basal_dose_path(@user) %>

