<p>
    <strong>Name:</strong>
    <%= @user.first_name %>
    <%= @user.last_name %>
</p>

<p>
    <strong>Delivery System</strong>
    <%= @user.basal_insulin%>
    <%= @user.bolus_insulin%>
</p>

<strong>Does this look correct?</strong>
<br>
<%= link_to 'Edit', edit_user_path(@user) %>
<br>
<%= link_to 'Yup! Back to The Dashboard', root_path %><br>
