
<div class="container">

<p>
    <strong>Name:</strong>
    <%= @user.first_name %>
    <%= @user.last_name %>
</p>

<p>
    <strong>Liquid Gold:</strong>
    <%= @user.basal_insulin%>
    <%= @user.bolus_insulin%>
</p>
<div class="row">
<div class="col-sm-4">
<p>
    <strong>Recent Bolus'</strong> <br>
     <% @user.bolus_doses.each do |dose| %>
      <%= dose.time_stamp.strftime("%l:%M%p").strip %>
      <br>
      <%= dose.amount %>
    <% end %>
</p>
</div>
<div class="col-sm-4">
<p>
    <strong>Basal Records</strong> <br>
    <% @user.basal_doses.each do |dose| %>
      <%= dose.time_stamp.strftime("%l:%M%p").strip %> <br>
      <%= dose.amount %>
    <% end %>
</p>
</div>
<div class="col-sm-4">
<p>
    <strong>Recent BGs</strong> <br>
     <% @user.glucose_readings.each do |glucose_reading| %>
      <%= glucose_reading.time_stamp.strftime("%l:%M%p").strip %>
      <br>
      <%= glucose_reading.amount %>
    <% end %>
</p>
</div>
</div>
<hr>
<%= link_to 'Back', welcome_index_path %>
<br>
<% if flash['success'] %>
<%= link_to 'Add Recent BGs', "#{ENV['DEXCOM_URL']}/v2/oauth2/login?client_id=#{ENV['DEXCOM_ID']}&redirect_uri=#{ENV['DEXCOM_REDIRECT']}&response_type=code&scope=offline_access" %>
<% end %>
<br>
<%= link_to 'Add a Bolus Dose', new_user_bolus_dose_path(@user) %>
<br>
<%= link_to 'Add a Basal Dose', new_user_basal_dose_path(@user) %>
<br>


</div>